body {
	width: 1440px;
	margin: 0 auto;
}

h1 {
	padding: 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	text-align: left;
	margin: 93px 0 0;
}

header {
	text-align: center;
	background: rgba(198, 108, 73, 0.4) url("bg.png");
	height: 768px;
	padding: 0 165px 0;	
	text-align: left;
}

header>span:nth-of-type(1) {
	font-size: 64px;
	line-height: 78px;
	
	margin: 145px 0 0;
}	

header>span:nth-of-type(2) {
	font-size: 24px;
	line-height: 29px;

	margin: 26px 0 0;
}	

header>span:nth-of-type(3) {
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	
	margin: 106px 0 0;
}

main>* {
	padding: 0 165px 0;
}

#about span {
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
}

#about>span:nth-of-type(1) {
	margin: 76px 0 0;
}

#about>span:nth-of-type(2) {
	margin: 0 0 115px;
}

#skills {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 145px;

}

#skills h1 {
	width: 100%;
	margin: 86px 0;
}

#skills img{
	flex: 1;
}

#skills>div {
	margin-left: 125px;
	flex: 2;
	display: flex;
	flex-flow: column;
	font-size: 18px;
	line-height: 25px;
}

#skills>div>div {
	display: flex;
	position: relative;
}

#skills>div>div:nth-of-type(1){
	margin: 0 0 45px;
}

#skills>div>div:nth-child(even) {
	margin: 21px 0 21px;
}

#skills>div>div>*:first-child {
	font-weight: 600;
}

#skills>div>div>*:last-child{
	position: absolute;
	left: 189px;
}

.progress {
	width: 446px;
	height: 24px;
	background-color: #F5D6AB;
}

.progress>div {
	height: inherit;
	background-color: #C66C49;
}

#bar3 {
	width: 381px;
}

#bar2 {
	width: 351px;
}

#bar1 {
	width: 286px;
}

#skills>div>div:nth-of-type(1) {
	order: -100;
}

#skills>div>div:nth-of-type(2) {
	order: 2;
}

#skills>div>div:nth-of-type(3) {
	order: 2;
}

#skills>div>div:nth-of-type(6) {
	order: -1;
}

#skills>div>div:nth-of-type(7) {
	order: -1;
}

#portfolio {
	padding-right: 0; 
	padding-bottom: 145px;
	display: flex;
	text-align: left;
	flex-flow: column;
}

#portfolio>h3 {
	margin: 86px 0 41px 1px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

#portfolio>div {
	display: block;
}

#portfolio span {
	margin: 7px 0 0 2px;
	width: 349px;
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
	float: left;	
}

#portfolio>div>div {
	margin: 0 0 0 126px;
	width: 636px;
	float: left;	
}

#portfolio img:nth-of-type(1) {
	width: 349px;
	height: auto;
}

#portfolio img:nth-of-type(2) {
	width: 255px;
	height: auto;
}

#portfolio img:nth-of-type(3) {
	width: 349px;
	height: auto;
	margin: 26px 0 0;
}

#portfolio img:nth-of-type(4) {
	width: 255px;
	height: auto;
	margin: 26px 0 0;
}

footer {
	position: relative;
	padding: 0 165px 189px;
	flex-flow: row wrap;
}

footer>h1 {
	margin-bottom: 53px;
	width: 100%;
}

footer>div:nth-of-type(1) {
	width: 764px;
}

footer>div:nth-of-type(1)>span {
	width: 50%;
} 

footer span {
	margin: 0 0 14px;
	font-size: 18px;
	line-height: 22px;
}

footer>div:nth-of-type(2) {
	position: absolute;
	left: 926px;
	top: 173px;
}

#number {
	font-size: 15px;
	line-height: 18px;
}

#up {
	right: 180px;
	bottom: 70px;
}

#menu {
	visibility: hidden;
}

#menu-bar {
	visibility: visible;
}