* {
	box-sizing: border-box;
	font-family: 'Libre Franklin';
	font-style: normal;
}

body {
	margin: 0;
	padding: 0 auto;
	background-color: #E5E5E5;
}

header {
	color: #FFFAF2;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;
	position: relative;
}

h1 {
	font-weight: bold;	
	font-size: 24px;
	line-height: 29px;
}

#about, #portfolio{
	display: flex;
	flex-flow: column;
	background-color: #FFFFFF;
}

#skills {
	display: flex;
	background-color: #FFFAF2;
}

#skills>div {
	display: flex;
}

#portfolio img:nth-of-type(1) {
	float: left;
}

#portfolio img:nth-of-type(2) {
	float: right;
}

#portfolio img:nth-of-type(3) {
	float: left;
}

#portfolio img:nth-of-type(4) {
	float: right;
}

footer {
	position: relative;
	display: flex;
	background-color: #FFFAF2;
}

footer>div:nth-of-type(1) {
	display: flex;
	flex-flow: row wrap;
}

footer>div:last-child {
	display: flex;
	flex-flow: column;
}

@font-face {
	font-family: MDL2;
	src: url("./SegMDL2.ttf");
}

#up {
	position: absolute;
	font-family: MDL2;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
}

#menu {
	position: absolute;
	font-family: MDL2;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	left: 34px;
	top: 39px;
}

#menu-bar {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 165px;
	top: 93px;
	left: 745px;
}

footer>div:nth-of-type(2) {
	display: flex;;
	flex-flow: column;
}