body {
	margin: 0;
	padding: 0;
	background-color: #F1EDDE;
}

div {
	text-align: center;

	padding: 0;
	margin: 0;
}	

footer{
	text-align:  left;
	clear: both;
	height: 1000px;
}

footer div{
	text-align: left;
}

section {
	box-sizing: border-box;
	min-height: 150px;
	padding: 10px 0;
	margin: 10px 0;

	border-style: dotted;
	border-color: grey;
}

h5 {
	font-size: 20px;
	margin: 0;	
}

main {
	padding: 110px 0 0 0;
}

header {
	width: 100%; 
	position: fixed;
	background-color: grey;	
}

header img {
	display: inline;
	height: 100px;
}

header h1 {
	font-size: 80px;
	display: inline;
}

.paragraph {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;

	box-sizing: border-box;
	width: 25%;
	float: left;
}

.cell {
	float: left;
	width: 33%;
}

.content {
	box-sizing: border-box;
	width: 75%;
	float: right;
}

.content div {
	box-sizing: border-box;			
	height: 50px;
}


